.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;

}

.content div {
    background-color: lightgreen;
    transition: background-color 0.3s;
}

button {
    display: flex;
    justify-content: space-between;
    margin: 32px;
}